<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Load in the Roboto font from Google -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700" rel="stylesheet">
    <!-- This 3rd-party stylesheet incorporates SVG icons from Font Awesome: http://fontawesome.com/ -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" crossorigin="anonymous">
    <!-- Load in the style sheets. Requires a separate HTTP request -->
    <link rel="stylesheet" href="/style.css" media="screen">
    <!-- Allow for template handlebars -->
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.runtime.js"></script>
    {{#if home}}
      <script src="/home.js" charset="utf-8" defer></script>
      <script src="/previewDrawingTemplate.js" charset="utf-8" defer></script>
    {{else}}
    	<script>
    	var arrayOfGridPixels = [];
    	var arrayOfPalettePixels = [];
    	</script>
		{{#if new}}
			<script src="/index.js" charset="utf-8" onload="fillGrid('#ffffff');fillPalette();" defer></script>
		{{else}}
			<script>
			{{#each pixels}}
			arrayOfGridPixels.push('{{this}}');
			{{/each}}

			
			{{#each palette}}
			arrayOfPalettePixels.push('{{this}}');
			{{/each}}
			</script>
			<script src="/index.js" charset="utf-8" onload="start({{width}}, {{height}});" defer></script>
		{{/if}}
    {{/if}}
    <title>Pixeldivs</title>
</head>
