<div class="drawings">
    <div class="preview square">   
    </div>
    <label class="title-drawings"> {{title}} </label>
    <div class='hidden-elements' hidden>
        <label class='width' >{{width}}</label>
        <label class='height' >{{height}}</label>
        <label class='pixels'>{{pixels}}</label>
        <label class = 'pallet'>{{pallet}} </label>

    </div>
</div>
